<a href="https://colab.research.google.com/github/ViRoTex/Exercises-Statistics-R-and-Python/blob/main/05_Datos_cualitativos_Ej_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Datos del Titanic
vamos a importarlo del paquete seaborn

In [ ]:
import seaborn as sns

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
titanic = sns.load_dataset("titanic")

In [ ]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
titanic['survived'] = pd.Categorical(titanic['survived']) # para convertir en factor

In [ ]:
titanic['pclass'] = pd.Categorical(titanic['pclass'])

In [ ]:
titanic['sex'] = pd.Categorical(titanic['sex'])

In [ ]:
titanic['deck'] = pd.Categorical(titanic['deck'])

# Tablas de contingencia de una variable

In [ ]:
tab = pd.crosstab(index = titanic['survived'],
                  columns = 'pasajeros')
tab

col_0     pasajeros
survived
0               549
1               342

In [ ]:
type(tab) # para ver qué tipo de tabla de ha generado

pandas.core.frame.DataFrame

In [ ]:
tab = pd.crosstab(index = titanic['pclass'],
                  columns = 'pclass')
tab

col_0   pclass
pclass
1          216
2          184
3          491

In [ ]:
tab = pd.crosstab(index = titanic['sex'],
                  columns = 'sex')
tab

col_0   sex
sex
female  314
male    577

In [ ]:
tab = pd.crosstab(index = titanic['deck'],
                  columns = 'count')
tab

col_0  count
deck
A         15
B         47
C         59
D         33
E         32
F         13
G          4

In [ ]:
titanic.deck

0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: deck, Length: 891, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [ ]:
tab_c = pd.crosstab(index = titanic['deck'],
                  columns = 'count')
tab_c

col_0  count
deck
A         15
B         47
C         59
D         33
E         32
F         13
G          4

In [ ]:
tab_c.sum()

col_0
count    203
dtype: int64

In [ ]:
tab_c.shape

(7, 1)

In [ ]:
tab_c.iloc[1:5]

col_0  count
deck
B         47
C         59
D         33
E         32

In [ ]:
tab_c/tab_c.sum() # frecuencias relativas

col_0     count
deck
A      0.073892
B      0.231527
C      0.290640
D      0.162562
E      0.157635
F      0.064039
G      0.019704

# Tablas de contingencia para 2 variables

Frecuencias absolutas

In [ ]:
survived_sex = pd.crosstab(index = titanic['survived'],
                             columns = titanic['sex'])
survived_sex.index = ["died", "survived"] # etiquetas nuevas para las filas
survived_sex

sex       female  male
died          81   468
survived     233   109

In [ ]:
survived_class = pd.crosstab(index = titanic['survived'], 
                             columns = titanic ['pclass'],
                             margins = True)
survived_class.index = ["murio", "sobrevivió", "total_clase"]
survived_class.columns = ["primera", "segunda", "tercera","total_superv"]
survived_class

             primera  segunda  tercera  total_superv
murio             80       97      372           549
sobrevivió       136       87      119           342
total_clase      216      184      491           891

## Frecuencias relativas globales

In [ ]:
survived_class/survived_class.loc["total_clase", "total_superv"] # se pone loc para localizar [filas, columnas]

              primera   segunda   tercera  total_superv
murio        0.089787  0.108866  0.417508      0.616162
sobrevivió   0.152637  0.097643  0.133558      0.383838
total_clase  0.242424  0.206510  0.551066      1.000000

## Frecuencias relativas marginales

In [ ]:
survived_class/survived_class.loc["total_clase"] # por filas

             primera   segunda   tercera  total_superv
murio        0.37037  0.527174  0.757637      0.616162
sobrevivió   0.62963  0.472826  0.242363      0.383838
total_clase  1.00000  1.000000  1.000000      1.000000

In [ ]:
survived_class.div(survived_class.loc["total_clase"], axis=1 ) # otra forma, por filas

             primera   segunda   tercera  total_superv
murio        0.37037  0.527174  0.757637      0.616162
sobrevivió   0.62963  0.472826  0.242363      0.383838
total_clase  1.00000  1.000000  1.000000      1.000000

In [ ]:
survived_class.T/survived_class["total_superv"] # por columnas, con la Traspuesta

                 murio  sobrevivió  total_clase
primera       0.145719    0.397661     0.242424
segunda       0.176685    0.254386     0.206510
tercera       0.677596    0.347953     0.551066
total_superv  1.000000    1.000000     1.000000

In [ ]:
survived_class.div(survived_class["total_superv"],axis = 0) # otra forma,con .div por columnas

              primera   segunda   tercera  total_superv
murio        0.145719  0.176685  0.677596           1.0
sobrevivió   0.397661  0.254386  0.347953           1.0
total_clase  0.242424  0.206510  0.551066           1.0

## Tablas multidimensionales

In [ ]:
surv_sex_class = pd.crosstab(index = titanic ["survived"],
                             columns = [titanic["sex"], titanic["pclass"]],
                             margins = True)
surv_sex_class # hemos creado una tabla multidimensional con 3 factores:1 fila y 2 columnas

sex      female          male            All
pclass        1   2    3    1    2    3
survived
0             3   6   72   77   91  300  549
1            91  70   72   45   17   47  342
All          94  76  144  122  108  347  891

In [ ]:
surv_sex_class["female"] # para ver las mujeres

pclass     1   2    3
survived
0          3   6   72
1         91  70   72
All       94  76  144

In [ ]:
surv_sex_class["female"][1] # mujeres en 1ª clase, debe ir en el mismo orden que en la tabla de estudio

survived
0       3
1      91
All    94
Name: 1, dtype: int64

In [ ]:
surv_sex_class/surv_sex_class.loc["All"] # fre.rel.marginal por filas

sex         female                     male                           All
pclass           1         2    3         1         2         3
survived
0         0.031915  0.078947  0.5  0.631148  0.842593  0.864553  0.616162
1         0.968085  0.921053  0.5  0.368852  0.157407  0.135447  0.383838
All       1.000000  1.000000  1.0  1.000000  1.000000  1.000000  1.000000